@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "./bootswatch.less";
@import "./variables.less";
@import "./components.less";

// @brand-success: #18B4BC;

@brand-primary:         #F3CD60; // YELLOW
@brand-success:         #66BCA5; // TURQ
@brand-info:            #176974; // DARKISH TURQ
@brand-warning:         #F36B4B; // RED
@brand-danger:          #101C29; // DARK BLUE

@background:            #ECECEC;

/*
 * Layout Variables
 */
@toolbar-width: 55px;
@sidebar-width: 120px;

/*
 * Only include styles confined to app.js here.
 */

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  background-color: @background;
  color: #9D9D9D;
}


@media screen and (max-device-width: 480px){
  body {
    font-size: 16px!important;
  }
}

.main {
  height: 100vh;
  overflow: hidden;
}

.centered {
  margin-left: @toolbar-width;
  max-width: 100%;
}

@media print {
  .panel{ border: none!important }
  .centered{ 
    // width: 100%!important; 
    // max-width: 100%!important; 
    // margin-left: 0%!important; 
    // margins: 25px!important;
  }
}