.bg-light {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15), 0px 0px 5px rgba(0, 0, 0, 0.15);
}


.home-heading{
	position: relative;
  width: 100%;
}

.home-description {
  padding: 0px 30px;
}

.options-icon {
	vertical-align: bottom;
	height: 75px;
	float: left;
	margin-left: 10px;		
}

.options-heading {
  font-size: 22px;
  line-height: 26px;
  vertical-align: bottom;
  height: 75px;
  float: left;
  text-align: left;
  margin-left: 15px;
}

.home {
  height: 70vh;
  margin-right: 15px;
}

.home > .col-md-3 {
  height: 100%;
} 

.home-description > h3{
  margin:0px 0px 20px 0px;
}

.home-description > p{
  text-align: justify;
  width: 90%;
  line-height: 1.2;
  overflow-wrap: break-word;
}

.home-options{
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 300px;
  // padding: 15px;
}

.home-options > p{
  clear: left;
}

.home-options > div, .home-options > p {
  overflow-y: auto;
  height: 100%;
  border-radius: 25px;
  padding: 10px;
}

.home-options:last-child{
  margin-top: 20px;
}