// External variables
// @toolbar-width
// @sidebar-width
// @background

@toolbar-background: darken(@background,10%);

/* Sidebar Styles */

.toolbar-nav {
  position: absolute;
  top: 0;
  width: @toolbar-width;
  margin: 0;
  padding: 8px;
  height: 100%;
  list-style: none;
  background: @toolbar-background;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15), 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.toolbar-nav.bottom {
  top: inherit;
  bottom: 0px;
  height: inherit;
  box-shadow: none;
}

.toolbar-nav li { 
    height: auto;
}

/* Sidebar Icons */

.toolbar-nav a {
  float: left;
  width: 38px;
  height: 38px;
  background-size: 38px auto;
  margin-bottom: 20px;
  background-repeat: no-repeat;
}

.toolbar-nav  > .brand {
  margin-bottom: 83px;
}

.second-nav {
  position: absolute;
  top: 0;
  left: 55px;
  padding: 10px;
  background: #F8F8F8;
  width: @sidebar-width;
  // z-index: 100;
  height: 100vh;
  font-size: 8pt;
  overflow-y: scroll;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15), 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.second-nav .map-header {
  color: rgb(147, 195, 124);
}

.second-nav .map-header h3:first-child {
  float: left;
}

.second-nav .map-header h3:last-child {
  float: right;
}

.second-nav .panel-heading {
  color: white;
  background-color: rgb(147, 195, 124)!important
}

.second-nav ul {
  padding-left: 5px;
}

.second-nav li {
  list-style: none;
  line-height: 14px;
  clear: left;
}

.second-nav ul>li:hover, .second-nav li>h3:hover { 
  cursor: pointer;
  background-color: rgba(147, 195, 124, 0.3);
}

.second-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.second-nav h3 {
  font-size: 10pt;
  line-height: 12pt;
}

.status-indicator {
  float: right;
  cursor: pointer;
  font-size: 27px;
  color: #00A535;
  transition: 0.5s ease;
}

.status-indicator:hover{
  color: rgba(100, 100, 100, 0.5);
}

.second-nav .panel-body{
    max-height: 60vh;
    overflow-y: auto;
}